@use "./mixins";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./font/Roboto-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("./font/Roboto-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./font/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./font/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./font/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("./font/Roboto-BoldItalic.woff2") format("woff2");
}

html {
  * {
    @include mixins.scrollbar;
  }
  font-size: 16px;
  touch-action: none;
  font-family: var(--common-fonts-base);
}
