@mixin scrollbar {
  &::-webkit-scrollbar {
    width: calc(var(--scrollbar));
    height: calc(var(--scrollbar));
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--common-scrollbar-thumb-color);
    border-radius: 100vh;
    border: calc(var(--scrollbar) / 5) solid transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--common-scrollbar-thumb-hoverColor);
    border: calc(var(--scrollbar) / 5) solid transparent;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--common-scrollbar-thumb-activeColor);
    border: calc(var(--scrollbar) / 5) solid transparent;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-button:vertical:start:increment,
  &::-webkit-scrollbar-button:vertical:end:decrement,
  &::-webkit-scrollbar-button:horizontal:start:increment,
  &::-webkit-scrollbar-button:horizontal:end:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }
}
